<!-- Mostrar la imagen en un círculo -->
<div class="main centrado">
    <form
        class="container mis-datos-form bounce-in-top"
        (ngSubmit)="enviarForm()"
        [formGroup]="form"
        autocomplete="off"
    >

    @if (usuario?.pathFoto) {
        <div class="foto-circulo centrado">
            <img [src]="usuario?.pathFoto" alt="Foto" class="foto">
        </div>
    } @else {
        <h3 class="text-warning text-center"><em>Sin foto</em></h3>
    }

    <label for="file" class="h5 mb-1 bt-3 cursor" (click)="input.click()" >Ingrese una Imagen</label>
    <input
        #input
        type="file"
        id="fileInputEsp"
        name="archivo"
        [accept]="imagenesValidas"
        class="form-control cursor"
        [formControlName]="formControlName('archivo')"
        (change)="handleFoto($event)"
    >
    <span class="form-text text-danger"
        [innerHTML]="messageError('archivo')"
        >
    </span>
        <div class="clearfix mt-4">
            <button type="submit" class="button-86 me-2 float-end">
                @if(usuario?.pathFoto){
                    Actualizar
                }@else {
                    Agregar
                }
            </button>
        </div>
    </form>
</div>


