<div class="container-fluid mt-4 mx-md-3" style="max-width: 90%;">
    <h2 class="text-center mb-4">Mis postulaciones</h2>
    <div class="row">
        <!-- Sección de filtros -->
        <div class="col-md-2">
            <h4 class="mt-3">Estado de Solicitud</h4>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="todas" name="estadoSolicitud"
                    [(ngModel)]="estadoSolicitud" value="Todas">
                <label class="form-check-label" for="todas">
                    Todas
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="aplicado" name="estadoSolicitud"
                    [(ngModel)]="estadoSolicitud" [value]="EEstadoRegistro.aplicado">
                <label class="form-check-label" for="aplicado">
                    Aplicada
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="visto" name="estadoSolicitud"
                    [(ngModel)]="estadoSolicitud" [value]="EEstadoRegistro.visto">
                <label class="form-check-label" for="visto">
                    Vista
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="aceptadoEmpresa" name="estadoSolicitud"
                    [(ngModel)]="estadoSolicitud" [value]="EEstadoRegistro.aceptadoEmpresa">
                <label class="form-check-label" for="aceptadoEmpresa">
                    Aceptada
                </label>
            </div>
            <h4 class="mt-4">Modalidad de Trabajo</h4>
            <!-- Filtro de Modalidad de Trabajo -->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="presencial">
                <label class="form-check-label" for="presencial">
                    Presencial
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="hibrido">
                <label class="form-check-label" for="hibrido">
                    Híbrido
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="remoto">
                <label class="form-check-label" for="remoto">
                    Remoto
                </label>
            </div>

            <h4 class="mt-4">Lugar de Trabajo</h4>
            <!-- Filtro de Lugar de Trabajo -->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="buenos-aires">
                <label class="form-check-label" for="buenos-aires">
                    Buenos Aires
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="cordoba">
                <label class="form-check-label" for="cordoba">
                    Córdoba
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="santa-fe">
                <label class="form-check-label" for="santa-fe">
                    Santa Fe
                </label>
            </div>
            <!-- Agrega más opciones de lugar de trabajo según necesites -->

            <h4 class="mt-4">Nivel</h4>
            <!-- Filtro de Nivel -->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="trainee">
                <label class="form-check-label" for="trainee">
                    Trainee </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="junior">
                <label class="form-check-label" for="junior">
                    Junior </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="semi-senior">
                <label class="form-check-label" for="semi-senior">
                    Semi Senior </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="senior">
                <label class="form-check-label" for="senior">
                    Senior </label>
            </div>
        </div>

        <!-- Publicaciones -->
        <div class="col-md-10">
            <div class="row row-cols-1 row-cols-md-4">
                <!-- Utilizamos row-cols-md-4 para mostrar una fila de cuatro columnas en pantallas medianas y más grandes -->
                @for(publicacion of publicaciones; track publicacion.id){
                @if (cumpleFiltro(publicacion)) {
                <div class="col mb-4">
                    <core-card-publicacion [publicacion]="publicacion"
                        [estado]="obtenerEstadoPostulacion(publicacion?.id ?? '')" />
                </div>
                }
                }
            </div>
        </div>
    </div>
</div>